@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #F8FAFC;
    color: #0F172A;
  }

}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
  }
  @media (hover: none) {
  .group-hover\:scale-\[1\.04\] {
    transform: none;
  }
   .hover\:shadow-hover {
    box-shadow: none;
  }
}
html {
  scroll-behavior: smooth;
}
